<header class="navbar">
  <section class="navbar-section">
    <ul class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to 'TRS', '/' %>
      </li>
      <li class="breadcrumb-item">
        <%= link_to @trip.name, @trip %>
      </li>
    </ul>
  </section>

  <section class="navbar-section">
    <%= link_to edit_trip_path(@trip), class: 'btn btn-link' do %>
      <span class="material-icons-outlined">settings</span>
    <% end %>
  </section>
</header>

<% if notice %>
  <div id="notice" class="toast" data-controller="toast" data-toast-target="autoclose">
    <%= notice %>
  </div>
<% end %>

<div class="trip container">
  <h1><%= @trip.name %></h1>
  <p><%= @trip.description %></p>

  <table class="table table-striped table-hover">
    <% @trip.days.each do |day| %>
      <tr>
        <td><%= day.start_at.strftime('%Y-%m-%d') if day.start_at %></td>
        <td><%= link_to day.name, [@trip, day] %></td>
      </tr>
    <% end %>
  </table>

  <%= link_to new_trip_day_path(@trip), class: 'btn btn-link' do %>
    <span class="material-icons-outlined">add</span>
  <% end %>
</div>
