<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? "#{yield(:title)} - " : '' %>TRS</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="/node_modules/spectre.css/dist/spectre.min.css">
<link rel="stylesheet" href="/node_modules/spectre.css/dist/spectre-exp.min.css">
<link rel="stylesheet" href="/node_modules/spectre.css/dist/spectre-icons.min.css">
    <link rel="stylesheet" href="/node_modules/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="/node_modules/leaflet-extra-markers/dist/css/leaflet.extra-markers.min.css" />
    <link rel="stylesheet" href="/node_modules/material-icons/iconfont/material-icons.css" />
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
