<li id="<%= dom_id waypoint %>" class="waypoint">
  <div class="num">
    <% if i == 0 %>
      始
    <% elsif i == size - 1 %>
      終
    <% else %>
      <%= i + 1 %>
    <% end %>
  </div>

  <div class="body">
    <div>
      <%= waypoint.name %>
    </div>
    <div>
      <%= waypoint.description %>
    </div>
  </div>

  <div class="buttons">
    <%= link_to edit_trip_day_waypoint_path(waypoint.day.trip, waypoint.day, waypoint) do %>
      <span class="material-icons-outlined">edit</span>
    <% end %>
  </div>
</li>
