<div id="<%= dom_id waypoint %>" class="scaffold_record">
  <p>
    <strong>Name:</strong>
    <%= waypoint.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= waypoint.description %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= waypoint.longitude %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= waypoint.latitude %>
  </p>

  <p>
    <strong>Stop min:</strong>
    <%= waypoint.stop_min %>
  </p>

  <p>
    <strong>Index:</strong>
    <%= waypoint.index %>
  </p>

  <p>
    <strong>Day:</strong>
    <%= waypoint.day_id %>
  </p>

  <p>
    <%= link_to "Edit this waypoint", edit_trip_day_waypoint_path(waypoint.day.trip, waypoint.day, waypoint), target: '_top' %>
  </p>
</div>
