<% content_for(:title) { "#{t('view.title.edit', name: @waypoint.name)} - #{@day.name} - #{@trip.name}" } %>

<header class="navbar">
  <section class="navbar-section">
    <ul class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to 'TRS', '/' %>
      </li>
      <li class="breadcrumb-item">
        <%= link_to @trip.name, @trip %>
      </li>
      <li class="breadcrumb-item">
        <%= link_to @day.name, [@trip, @day] %>
      </li>
      <li class="breadcrumb-item">
        <%= t('view.title.edit', name: @waypoint.name) %>
      </li>
    </ul>
  </section>
</header>

<%= render "form", trip: @trip, day: @day, waypoint: @waypoint %>

<div class="destroy-button">
  <%= button_to trip_day_waypoint_path(@trip, @day, @waypoint), method: :delete, class: 'btn' do %>
    <span class="material-icons-outlined">delete</span>
  <% end %>
</div>
