<li id="<%= dom_id waypoint %>" class="waypoint" data-id="<%= waypoint.id %>">
  <% if waypoint.day == @day && i > 0 %>
  <div class="eta">
    <%= t('.eta', time: l(waypoint_eta(@day, i), format: :eta)) %>
  </div>
  <% end %>

  <div class="content">
    <div class="handle">
      <span class="material-icons-outlined">drag_handle</span>
    </div>

    <div class="num">
      <% if i == 0 %>
        <%= t('.start') %>
      <% elsif i == size - 1 %>
        <%= t('.end') %>
      <% else %>
        <%= i %>
      <% end %>
    </div>

    <div class="body">
      <div>
        <%= waypoint.name %>
      </div>
      <div>
        <%= waypoint.description %>
      </div>
    </div>

    <div class="buttons">
      <%= form_with(model: [waypoint.day.trip, waypoint.day, Waypoint.new(waypoint.attributes)]) do |form| %>
        <%= form.hidden_field :name, id: 'waypoint-name' %>
        <%= form.hidden_field :description %>
        <%= form.hidden_field :longitude, data: {waypoints_target: 'longitude'} %>
        <%= form.hidden_field :latitude, data: {waypoints_target: 'latitude'} %>
        <%= form.hidden_field :stop_min %>
        <%= form.button(class: 'btn btn-link') do %>
          <span class="material-icons-outlined">content_copy</span>
        <% end %>
      <% end %>

      <%= link_to edit_trip_day_waypoint_path(waypoint.day.trip, waypoint.day, waypoint), data: { turbo_frame: '_top' }, class: 'btn btn-link' do %>
      <span class="material-icons-outlined">edit</span>
      <% end %>
    </div>
  </div>

  <% if waypoint.day == @day && i < size - 1 %>
  <div class="etd">
    <%= t('.etd', time: l((waypoint.stop_min || 0).minutes.since(waypoint_eta(@day, i)), format: :eta)) %>
  </div>
  <% end %>
</li>
