<%= form_with(model: day) do |form| %>
  <% if day.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(day.errors.count, "error") %> prohibited this day from being saved:</h2>

      <ul>
        <% day.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :start_waypoint_id %>
    <%= form.number_field :start_waypoint_id %>
  </div>

  <div class="field">
    <%= form.label :end_waypoint_id %>
    <%= form.number_field :end_waypoint_id %>
  </div>

  <div class="field">
    <%= form.label :start_at %>
    <%= form.datetime_select :start_at %>
  </div>

  <div class="field">
    <%= form.label :trip_id %>
    <%= form.text_field :trip_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
