<%= turbo_stream.update "waypoints_#{@to.id}" do %>
  <%= render partial: 'waypoints', locals: {day: @to} %>
<% end %>

<%= turbo_stream.update "map" do %>
  <div
    data-controller="days"
    data-days-waypoints-value="<%= @day.ordered_waypoints.to_json %>"
    data-days-routes-value="<%= @day.routes.to_json %>"
    data-days-target="map"></div>
<% end if @day == @to %>
