<p id="notice"><%= notice %></p>

<%= render @day %>

<div>
  <%= link_to "Edit this day", edit_trip_day_path([@trip, @day]) %> |
  <%= link_to "Back to days", trip_days_path(@trip) %>

  <%= button_to "Destroy this day", trip_day_path([@trip, @day]), method: :delete %>
</div>
