<header class="navbar">
  <section class="navbar-section">
    <ul class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to 'TRS', '/' %>
      </li>
      <li class="breadcrumb-item">
        <%= link_to @trip.name, @trip %>
      </li>
      <li class="breadcrumb-item">
        <%= @day.name %>
      </li>
    </ul>
  </section>

  <section class="navbar-section">
    <%= link_to edit_trip_day_path(@trip, @day), class: 'btn btn-link' do %>
      <span class="material-icons-outlined">settings</span>
    <% end %>
  </section>
</header>

<% if notice %>
  <div id="notice" class="toast" data-controller="toast" data-toast-target="autoclose">
    <%= notice %>
  </div>
<% end %>

<div class="container">
  <div class="columns">
    <div class="column col-9">
      <%= turbo_frame_tag "map" do %>
        <div
          data-controller="day-map"
          data-day-map-waypoints-value="<%= @day.ordered_waypoints.to_json %>"
          data-day-map-routes-value="<%= @day.routes.to_json %>"
          data-day-map-target="map"></div>
      <% end %>
    </div>

    <div class="column col-3 days">
      <% @trip.days.each do |day| %>
        <div class="card <%= 'active' if day == @day %> day">
          <div class="card-header">
            <%= button_to optimize_waypoints_trip_day_path(@trip, @day), class: 'btn float-right' do %>
              <span class="material-icons-outlined">auto_fix_normal</span>
            <% end if day == @day %>
            <div class="card-title h5"><%= link_to day.name, [@trip, day] %></div>
            <div class="card-subtitle text-gray"><%= day.description %></div>
          </div>
          <div class="card-body">
            <%= turbo_frame_tag "waypoints_#{day.id}" do %>
              <%= render partial: 'waypoints', locals: {day: day} %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

</div>

<%= form_with(url: order_waypoints_trip_day_path(@trip, @day), id: 'waypoints-order-form') do |form| %>
  <%= hidden_field_tag :waypoints_order %>
<% end %>
